<h2 class="mt-4" style="text-align: center; font-weight: 900;">ใบแจ้งค่าเช่า</h2>

<div class="row" style="margin-left: 5px;">
    <!-- connected database : month, date, room-->
    <p class="col"><span style="font-weight: 700;">เลขที่</span> <%=bill.bill_id.toString().padStart(3, '0')%></p>
    <p class="col-5"><span style="font-weight: 700;">เลขที่ห้อง</span> <%=bill.room.room_number%></p>
</div>
<div class="row ml-2" style="margin-left: 5px;">
    <p class="col pl-1"><span style="font-weight: 700;">ประจำเดือน</span> <%=bill.month%></p>
</div>

<table class="table table-bordered">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">รายละเอียด</th>
            <th scope="col">จำนวนหน่วย</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col">ราคาสุทธิ์</th>
        </tr>
    </thead>
    <tbody>
        <!-- same as clientHome table -->
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าเช่าห้อง</td>
            <td>1</td>
            <td><%=bill.room.rent%></td>
            <td><%=bill.rent%></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าไฟ</td>
            <td style="text-align: center;"><%=bill.meter.meter_elect%></td>
            <td><%=bill.room.elect_per_unit%></td>
            <td><%=bill.elect_bill%></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าน้ำ</td>
            <td><%=bill.meter.meter_water%></td>
            <td><%=bill.room.water_per_unit%></td>
            <td><%=bill.water_bill%></td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="font-weight: 700;">รวม</td>
            <td><%= bill.rent+bill.water_bill+bill.elect_bill %></td>
        </tr>
    </tbody>
</table>

<p class="h6 text-danger">*** ชำระเงินภายในวันที่ <%=bill.due_date%></p>