<h2 class="mt-4" style="text-align: center; font-weight: 900;">ใบแจ้งค่าเช่า</h2>

<div class="row" style="margin-left: 5px;">
    <!-- connected database : month, date, room-->
    <p class="col"><span style="font-weight: 700;">เลขที่</span> <%=bill[0].bill_id.toString().padStart(3, '0')%></p>
    <p class="col-5"><span style="font-weight: 700;">เลขที่ห้อง</span> <%=room[0].room_number%></p>
</div>
<div class="row ml-2" style="margin-left: 5px;">
    <p class="col pl-1"><span style="font-weight: 700;">ประจำเดือน</span> <%=bill[0].month%></p>
</div>

<table class="table table-bordered">
    <thead>
        <tr style="text-align: center;">
            <th scope="col">รายละเอียด</th>
            <th scope="col">จำนวนหน่วย</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col">ราคาสุทธิ์</th>
        </tr>
    </thead>
    <tbody>
        <!-- same as clientHome table -->
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าเช่าห้อง</td>
            <td>1</td>
            <td>7000</td>
            <td>7000</td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าไฟ</td>
            <td style="text-align: center;"><%=meter[0].meter_elect%></td>
            <td><%=room[0].elect_per_unit%></td>
            <td><%=bill[0].elect_bill%></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค่าน้ำ</td>
            <td><%=meter[0].meter_water%></td>
            <td><%=room[0].water_per_unit%></td>
            <td><%=bill[0].water_bill%></td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">ค้างชำระ</td>
            <td style="text-align: center;"><%= bill.length-1 %></td>
            <td></td>
            <td><%=bill[0].old_bill%></td>
        </tr>
        <tr style="text-align: center;">
            <td colspan="3" style="font-weight: 700;">รวม</td>
            <td><%=bill[0].total%></td>
        </tr>
    </tbody>
</table>

<p class="h6 text-danger">*** ชำระเงินภายในวันที่ <%=bill[0].due_date%></p>