<%- include('../partials/head') %>

    <body>
        <%- include('../partials/nav') %>
            <form action="/lessee/profile/update" method="POST" enctype="multipart/form-data">
                <main class="flex-row card  shadow-sm"
                    style="margin: auto; margin-top: 70px; margin-bottom: 70px; width: 80%; height: 67%;">
                    <!-- Profile Image (id="1") - Left side -->
                    <div class="justify-content-center mt-1" style="width: 30%;">
                        <div class="d-flex align-items-center mt-3" style="margin-left: 20px;">
                            <button type="button" class="btn" onclick="window.location.href = '/lessee/profile'">
                                <i class="bi bi-arrow-left-circle fa-2x"></i>
                            </button>
                            <h5 class="fw-bold text-center mt-3">หน้าหลัก</h5>
                        </div>
                        <div class="m-3 mt-0 text-center">
                            <br>
                            <br>
                            <label class="position-relative" style="cursor: pointer;">
                                <img id="profilePicture" class="rounded-circle img-fluid" width="60%" height="150"
                                    src="/image/UploadPfp3.png" style="object-fit: cover; aspect-ratio: 1 / 1;">
                                <input type="file" name="user_img" id="profilePictureInput" class="d-none"
                                    accept="image/*" onchange="previewImage(event)" required>
                            </label>
                        </div>
                    </div>

                    <div class="vl"></div>

                    <!-- Profile and Room Information (id="2") - Right side -->
                    <div class="mt-5" style="width: 70%;">
                        <h2 style="margin-top: 50px;"><strong>แก้ไขข้อมูลส่วนตัว</strong></h2>
                        <hr class="mt-0">
                        <div class="mb-4" style="padding-left: 30px;">
                            <!-- db ชื่อ, อายุ, เบอร์โทร -->
                            <div class="d-flex align-items-center mb-2" style="margin-top: 16px;">
                                <strong style="font-size: 23px; margin-right: 22px;">ชื่อจริง :</strong>
                                <input type="text" class="form-control" placeholder="กรอกชื่อจริง" value="<%=user.first_name%>"
                                    style="width: 30%; margin-right: 20px;" name="first_name" required>
                                <strong style="font-size: 23px; margin-right: 20px;">นามสกุล :</strong>
                                <input type="text" class="form-control" placeholder="กรอกนามสกุล" value="<%=user.last_name%>"
                                    style="width: 30%; margin-right: 20px;" name="last_name" required>
                            </div>
                            <div class="d-flex align-items-center mb-2" style="margin-top: 16px;">
                                <strong style="font-size: 23px; width: 100px;">ชื่อบัญชี :</strong>
                                <input type="text" class="form-control" placeholder="กรอกชื่อบัญชี" value="<%=user.user_name%>"
                                    style="width: 74.7%;" name="user_name" required>
                            </div>
                            <div class="d-flex align-items-center mb-2" style="margin-top: 16px;">
                                <strong style="font-size: 23px; width: 100px;">อีเมล์ :</strong>
                                <input type="text" class="form-control" placeholder="กรอกอีเมล์" style="width: 74.7%;" value="<%=user.email%>"
                                    name="email" required>
                            </div>
                            <div class="d-flex align-items-center mb-2" style="margin-top: 16px;">
                                <strong style="font-size: 23px; width: 100px;">เบอร์โทร :</strong>
                                <input type="text" class="form-control" placeholder="กรอกหมายเลขโทรศัพท์" value="<%=user.phone%>"
                                    style="width: 74.7%;" name="phone" required>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end" style="margin-right: 8rem; margin-top: 4rem;">
                            <button type="submit" class="btn btn-success"><i class="bi bi-pencil-square"></i>
                                ยืนยัน</button>
                        </div>
                    </div>
                </main>
            </form>

    </body>
    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function () {
                document.getElementById('profilePicture').src = reader.result;
            };
            if (event.target.files[0]) {
                reader.readAsDataURL(event.target.files[0]);
            }
        }
    </script>
    <%- include('../partials/footer')%>

        </html>