<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <main class="flex-row card  shadow-sm" style="margin: auto; margin-top: 70px; margin-bottom: 70px; width: 80%;">
        <!-- Profile Image (id="1") - Left side -->
        <div class="justify-content-center mt-1" style="width: 30%;">
            <div class="d-flex align-items-center mt-3" style="margin-left: 20px;">
                <button type="button" class="btn" onclick="window.location.href = '/lessee'">
                    <i class="bi bi-arrow-left-circle fa-2x"></i>
                </button>
                <h5 class="fw-bold text-center mt-3">หน้าหลัก</h5>
            </div>
            <div class="m-3 mt-0 text-center">
                <br>
                <img alt="Profile Picture" class="rounded-circle img-fluid" width="50%" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp">
                <h3 style="margin-top: 20px;"><strong>Username</strong></h3>
                <button type="button" onclick="window.location.href = '/lessee/profile/edit'" class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i> แก้ไขข้อมูล</button>
            </div>
        </div>

        <div class="vl"></div>

        <!-- Profile and Room Information (id="2") - Right side -->
        <div class="mt-5" style="width: 70%;">
            <h2><strong>ข้อมูลส่วนตัว</strong></h2>
            <hr class="mt-0">
            <div class="mb-4" style="padding-left: 30px;">
                <!-- db ชื่อ, อายุ, เบอร์โทร -->
                <p><strong>ชื่อ :</strong> John Doe</p>
                <p><strong>อีเมล์ :</strong> hahaha@gmail.com</p>
                <p><strong>เบอร์โทร :</strong> 081-234-5678</p>
            </div>

            <h2><strong>ข้อมูลห้องพัก</strong></h2>
            <hr class="mt-0">
            <div class="mb-5" style="padding-left: 30px;">
                <!-- db เลขที่ห้อง, ค่าเช่า, ที่อยู่ -->
                <div class="row">
                    <p class="col"><strong>วันที่ทำสัญญา :</strong> </p>
                    <p class="col"><strong>วันที่หมดสัญญา :</strong> </p>
                </div>
                <p><strong>เลขที่ห้อง :</strong> A101</p>
                <p><strong>ที่อยู่ :</strong> ตึก A ชั้น 1</p>
            </div>
        </div>
    </main>
            <!-- <div class="card-header d-flex align-items-end justify-content-between" style="background-color: #88A4A8; height: 7rem; color: white;">
                <h4>ID : <%=data.user_id%></h4>
                <h6>เซ็นสัญญา : <%=data.date_start%></h6>
            </div>
            
            <div class="card-body p-4">
                <div class="d-flex align-items-center flex-column">
                    <img alt="" class="rounded img-fluid" width="240px" 
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp">
                </div>

                <div class="d-flex mt-4 flex-column justify-content-between">
                    <h5 class="text-center"><%=data.first_name%> <%=data.last_name%></h5>

                    <div class="card p-3 mt-3">
                        <p class="mb-2 text-center"><i class="bi bi-telephone-fill"></i> <%=data.phone%></p>
                        <p class="mb-2 text-center"><i class="bi bi-envelope-fill"></i> <%=data.email%></p>
                        <p class="text-center"><i class="bi bi-person-circle"></i> <%=data.user_name%></p>
                    </div>
                    <button class="nav-link my-4" onclick="window.location.href='/lessee/profile/edit'" style="font-size: 24px;"><i class="far fa-edit"></i></button>
                </div>
            </div> -->
</body>
<%- include('../partials/footer')%>
</html>