<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel="stylesheet" href="/css/landlordStyle.css">
</head>
<body>
    <%- include('../partials/landlordNav') %>
    <div class="container mt-nav">
        <p class="h1 text-center pt-5 mb-5">ประวัติการชำระ ห้อง <%=histories[0].room_number%></p>
        <div class="d-flex my-3 w-100 justify-content-between align-items-center">
            <a href="/lesser/rooms/<%=histories[0].room_id%>"><i class="fa-solid fa-chevron-left fs-5"> กลับ</i></a>
        </div>
        <div class="container p-5 border mb-5 shadow-sm bg-white"">
            <h5 class="mb-4 mt-3">ผู้เช่า: <%=histories[0].first_name%> <%=histories[0].last_name%></h5>
            <table class="table table-bordered align-middle">
                <thead>
                    <tr>
                        <th class="py-3">รอบเดือน</th>
                        <th class="py-3" style="width: 50%;">รายละเอียด</th>
                        <th class="py-3" style="width: 15%;">จำนวนเงิน</th>
                        <th class="py-3" style="width: 15%;">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    <% histories.forEach((history)=>{ %>
                        <%
                            let status;
                            let color;
                            if(history.payment_status=="pending"){
                                status = "รอตรวจสอบ";
                                color = "warning";
                            }else if(history.bill_status=="unpaid"){
                                status = "ค้างชำระ";
                                color = "danger";
                            }else{
                                status = "ชำระแล้ว";
                                color = "success";
                            }
                        %>
                        <tr>
                            <td><%=history.month%></td>
                            <td>ค่าเช่าห้อง: <%=history.rent%>, ค่าไฟ: <%=history.elect_bill%>, ค่าน้ำ: <%=history.water_bill%></td>
                            <td><%=history.rent+history.elect_bill+history.water_bill%></td>
                            <td class="text-<%=color%>"><%=status%></td>
                        </tr>
                    <% })%>
                </tbody>
            </table>
        </div>
    </div>
</body>