<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel="stylesheet" href="/css/landlordStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        @media (max-width: 992px) {
        .border-start {
            border-left: none !important;
        }
    }
    </style>
</head>
<body>
    <%- include('../partials/landlordNav') %>
    <%
        let color;
        switch(room.status) {
            case 'ห้องว่าง':
                color = 'light';
                break;
            case 'รอตรวจสอบการชำระ':
                color = 'warning';
                break;
            case 'ค้างชำระ':
                color = 'danger';
                break;
            case 'มีผู้เช่า':
                color = 'success';
                break;
        }
    %>


    <!-- alert modal-->
    <div class="modal fade" id="alert-modal">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header text-white" id="alert-header">
                    <h4 class="modal-title" id="alert-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body mx-4 my-2 text-center">
                    <img src="" id="alert-icon" style="width: 20%;">
                    <div class="py-4 h5" id="alert-message">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-nav">
        <p class="h1 text-center pt-5 mb-5">รายละเอียดห้องพัก</p>
        <div class="d-flex my-3 w-100 justify-content-between align-items-center">
            <a href="/lesser/rooms"><i class="fa-solid fa-chevron-left fs-5"> กลับ</i></a>
            <div class="d-flex flex-wrap gap-2">
                <a href="/lesser/rooms/<%=room.room_id%>/pay-history">
                    <button class="btn btn-secondary">
                        <i class="fas fa-history"></i> ประวัติการชำระ
                    </button>
                </a>
                <a>
                    <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#saveBill">
                        <i class="fas fa-file-invoice-dollar"></i> บันทึกบิลค่าเช่า
                    </button>
                </a>
                <a>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveWaterElectric">
                        <i class="fas fa-tachometer-alt"></i> บันทึกค่าน้ำ-ค่าไฟ
                    </button>
                </a>
                <a>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="fas fa-pen"></i> แก้ไข
                    </button>
                </a>
            </div>
        </div>
        <div class="container p-5 border mb-5 shadow-sm bg-white"">
            <div class="row d-flex">
                <div class="col-12 col-md-5 col-lg-4 mb-5">
                    <button class="btn btn-<%=color%> btn-text p-5 w-100 m-2 h-100"><%=room.room_number%></button>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="circle bg-<%=color%> me-2"></div>
                        <span><%=room.status%></span>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 ps-md-5">
                    <div class="d-flex align-items-center">
                        <p class="h2 mt-2 me-4">หมายเลขห้อง: <%=room.number%></p>
                        <p class="h5 text-secondary">• ตึก <%=room.building%> • ชั้น <%=room.floor%></p>
                    </div>
                    <p class="text-secondary"><i class="fa-solid fa-tag"></i> รูปแบบห้อง: <%=room.type%> | ขนาด: <%=room.size%> ตร.ม.</p>
                    
                    <div class="d-flex align-items-center flex-wrap">
                        <p class="h4 mt-4 me-5">ค่าเช่า: <%=room.rent%> บาท/เดือน</p>
                        <p class="h6 mt-4 me-5"><i class="fa-solid fa-bolt"></i> ค่าไฟ: <%=room.elect_per_unit%> บาท/หน่วย</p>
                        <p class="h6 mt-4 me-5"><i class="fa-solid fa-droplet"></i> ค่าน้ำ: <%=room.water_per_unit%> บาท/หน่วย</p>
                    </div>
                </div>
            </div>
            <div class="row border-top my-5 pt-4">
                <p class="h4 my-4">สิ่งอำนวยความสะดวก</p>
                <div class="d-flex flex-wrap align-items-center p-3">
                    <p class="me-5 <%= !room.facilities.includes('air-conditioner') ? 'text-secondary text-decoration-line-through' : '' %>"><i class="fi fi-ss-air-conditioner"></i> เครื่องปรับอากาศ</p>
                    <p class="me-5 <%= !room.facilities.includes('fan') ? 'text-secondary text-decoration-line-through' : '' %>"><i class="fa-solid fa-fan"></i> พัดลม</p>
                    <p class="me-5 <%= !room.facilities.includes('water-heater') ? 'text-secondary text-decoration-line-through' : '' %>"><i class="fa-solid fa-water"></i> เครื่องทำน้ำอุ่น</p>
                    <p class="me-5 <%= !room.facilities.includes('balcony') ? 'text-secondary text-decoration-line-through' : '' %>"><i class="fa-solid fa-barcode"></i> ระเบียง</p>
                    <p class="me-5 <%= !room.facilities.includes('internet') ? 'text-secondary text-decoration-line-through' : '' %>"><i class="fa-solid fa-wifi"></i> อินเทอร์เน็ต</p>
                </div>
            </div>
            <div class="row border-top my-5 pt-4">
                <div class="col-12 col-lg-6 my-4 mb-lg-0 ">
                    <p class="h4 mb-4">ผู้เช่า</p>
                    <% if(room.status != 'ห้องว่าง') { %>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                            <div class="col-md-5">
                                <img src="/lesser/user_img/<%=room.user_id%>" class="img-fluid rounded-start" style="object-fit: cover; height: 200px; width: 200px;">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body d-flex flex-column h-100">
                                    <h4 class="card-title"><%=room.first_name%> <%=room.last_name%></h4>
                                    <p class="card-text">เบอร์โทร. <%=room.phone%></p>
                                    <div class="mt-auto">
                                        <a href="#" class="btn btn-primary">ดูข้อมูลผู้เช่า</a>
                                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete">ลบ</a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% } else{%>
                        <p class="mb-4">ไม่มีผู้เช่า</p>
                    <% } %>
                </div>
                <div class="col-12 col-lg-6 border-start ps-lg-5">
                    <p class="h4 my-4">รายละเอียดการเช่า</p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="p-3">ชื่อผู้เข้าพัก</th>
                                <th class="p-3">วันที่ทำสัญญา</th>
                                <th class="p-3">วันที่สิ้นสุดสัญญา</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-3"><%=room.status=='ห้องว่าง' ? '-' : room.first_name%> <%=room.status=='ห้องว่าง' ? '' : room.last_name%></td>
                                <td class="p-3"><%=room.status=='ห้องว่าง' ? '-' : room.date_start%></td>
                                <td class="p-3"><%=room.status=='ห้องว่าง' ? '-' : room.date_end%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- saveBill Modal-->
    <div class="modal fade" id="saveBill">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h4 class="modal-title"><i class="fas fa-file-invoice-dollar"></i> บันทึกบิลค่าเช่า ห้อง <%=room.room_number%></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body mx-4 my-2">
                    <div class="alert alert-danger d-none" role="alert" id="none-we-alert">
                        กรุณากรอกค่าน้ำ-ค่าไฟ
                    </div>
                    <p class="h4">รายละเอียด</p>
                    <div class="mt-3 mb-2">
                        <p class="mt-4">ห้อง: <%=room.room_number%></p>
                        <p class="mt-4">ผู้เช่า: <%=room.status=='ห้องว่าง' ? '-' : room.first_name%> <%=room.status=='ห้องว่าง' ? '' : room.last_name%></p>
                        <div class="d-flex align-items-center mt-1">
                            <p class="m-0">รอบบิล: </p>
                            <input type="month" class="form-control w-25 ms-2" id="bill-month" onchange="showMeterData(this.value)">
                        </div>
                        <div class="d-flex align-items-center mt-1">
                            <p class="m-0">วันครบกำหนดชำระ: </p>
                            <input type="date" class="form-control w-25 ms-2" id="pay-duedate">
                        </div>
                    </div>
                    <table class="table table-bordered mt-4 w-75">
                        <thead>
                           <tr>
                               <th>รายการ</th>
                               <th>จำนวนเงิน</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td>ค่าเช่าห้อง</td>
                               <td><%=room.rent%></td>
                           </tr>
                           <tr>
                               <td id="elect-unit-bill">ค่าไฟ ( - หน่วย)</td>
                               <td id="elect-bill">-</td>
                           </tr>
                           <tr>
                               <td id="water-unit-bill">ค่าน้ำ ( - หน่วย)</td>
                               <td id="water-bill">-</td>
                           </tr>
                           <tr>
                               <td colspan="2"><b id="sum-bill">รวม: -</b></td>
                           </tr>
                       </tbody>
                   </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveBill()"><i class="fa-solid fa-floppy-disk"></i> บันทึก</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Save Water Electric Modal-->
    <div class="modal fade" id="saveWaterElectric">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-tachometer-alt"></i> บันทึกค่าน้ำ-ค่าไฟ ห้อง <%=room.room_number%></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body mx-4 my-2">
                    <div class="d-flex align-items-center mt-1 mb-4">
                        <p class="m-0">รอบเดือนที่ต้องการบันทึก: </p>
                        <input type="month" class="form-control w-25 ms-3" value="2025-01" id="meterMonth">
                    </div>
                    <table class="table table-bordered align-middle">
                        <thead>
                            <tr class="text-center">
                                <th class="py-3" style="width: 9%;"></th>
                                <th class="py-3" style="width: 33%;">เลขมิเตอร์ก่อนหน้า (<%=room.meter_month%>)</th>
                                <th class="py-3" style="width: 33%;">เลขมิเตอร์เดือนนี้</th>
                                <th class="py-3" style="width: 25%;">หน่วยที่ใช้</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>ค่าไฟ</b></td>
                                <td class="text-center"><%=room.meter_elect%></td>
                                <td class="d-flex justify-content-center">
                                    <input type="number" class="form-control w-50" id="elect" placeholder="เลขมิเตอร์เดือนนี้" name="elect" value="0" onchange="calUnit(this.value, this.id)">
                                </td>
                                <td id="cal-elect-unit" class="text-center">-<%=room.meter_elect%></td>
                            </tr>
                            <tr>
                                <td><b>ค่าน้ำ</b></td>
                                <td class="text-center"><%=room.meter_water%></td>
                                <td class="d-flex justify-content-center">
                                    <input type="number" class="form-control w-50" id="water" placeholder="เลขมิเตอร์เดือนนี้" name="water" value="0" onchange="calUnit(this.value, this.id)">
                                </td>
                                <td id="cal-water-unit" class="text-center">-<%=room.meter_water%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="saveMeter()"><i class="fa-solid fa-floppy-disk"></i> บันทึก</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Edit Modal-->
    <div class="modal fade" id="edit">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class="modal-title"><i class="fas fa-pen"></i> แก้ไขข้อมูล </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form action="/lesser/update-room/<%=room.room_id%>" method="post">
                    <div class="modal-body mx-4 my-2">
                            <label for="room-number" class="form-label">หมายเลขห้อง:</label>
                            <input type="text" class="form-control" id="room-number" placeholder="หมายเลขห้อง" name="room_number" value="<%=room.room_number%>">
                            <div class="row mt-2">
                                <div class="col-sm-2">
                                    <label for="building" class="form-label">ตึก:</label>
                                    <input type="text" class="form-control" id="building" placeholder="ตึก" name="building" value="<%=room.building%>">
                                </div>
                                <div class="col-sm-2">
                                    <label for="level" class="form-label">ชั้น:</label>
                                    <input type="text" class="form-control" id="level" placeholder="ชั้น" name="level" value="<%=room.floor%>">
                                </div>
                                <div class="col-sm-3">
                                    <label for="room-type" class="form-label">รูปแบบห้อง:</label>
                                    <input type="text" class="form-control" id="room-type" placeholder="รูปแบบห้อง" name="room_type" value="<%=room.type%>">
                                </div>
                                <div class="col-sm-4">
                                    <label for="room-size" class="form-label">ขนาดห้อง (ตร.ม.):</label>
                                    <input type="text" class="form-control" id="room-size" placeholder="ขนาดห้อง" name="room_size" value="<%=room.size%>">
                                </div>
                            </div>

                            <label for="rent" class="form-label mt-5">ค่าเช่า (บาท/เดือน):</label>
                            <input type="rent" class="form-control" id="rent" placeholder="ค่าเช่า" name="rent" value="<%=room.rent%>">
                            <div class="row mt-3">
                                <div class="col-4">
                                    <label for="elect-unit" class="form-label">ค่าไฟต่อหน่วย (บาท/หน่วย):</label>
                                    <input type="text" class="form-control" id="elect-unit" placeholder="ค่าไฟต่อหน่วย" name="elect_unit" value="<%=room.elect_per_unit%>">
                                </div>
                                <div class="col-4">
                                    <label for="water-unit" class="form-label">ค่าน้ำต่อหน่วย (บาท/หน่วย):</label>
                                    <input type="text" class="form-control" id="water-unit" placeholder="ค่าน้ำต่อหน่วย" name="water_unit" value="<%=room.water_per_unit%>">
                                </div>
                            </div>

                            <label for="rent" class="form-label mt-5">สิ่งอำนวยความสะดวก:</label>
                            <div class="d-flex flex-wrap gap-5 mb-5">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="air-conditioner" name="facilities" value="air-conditioner" <%=room.facilities.includes('air-conditioner') ? 'checked' : ''%> >
                                    <label class="form-check-label" for="air-conditioner">เครื่องปรับอากาศ</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="fan" name="facilities" value="fan" <%=room.facilities.includes('fan') ? 'checked' : ''%>>
                                    <label class="form-check-label" for="fan">พัดลม</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="water-heater" name="facilities" value="water-heater" <%=room.facilities.includes('water-heater') ? 'checked' : ''%>>
                                    <label class="form-check-label" for="water-heater">เครื่องทำน้ำอุ่น</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="balcony" name="facilities" value="balcony" <%=room.facilities.includes('balcony') ? 'checked' : ''%>>
                                    <label class="form-check-label" for="balcony">ระเบียง</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="internet" name="facilities" value="internet" <%=room.facilities.includes('internet') ? 'checked' : ''%>>
                                    <label class="form-check-label" for="internet">อินเทอร์เน็ต</label>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"><i class="fa-solid fa-floppy-disk"></i> บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- confirm delete modal-->
    <div class="modal fade" id="confirmDelete">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h4 class="modal-title">ยืนยันการลบ</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body mx-4 my-2">
                    <div class="py-4">
                        คุณแน่ใจหรือไม่ว่าต้องการลบผู้เช่าออกจากห้องนี้?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="removeRenter()">ยืนยันการลบ</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        function saveBill() {
            if ("<%=room.status%>"=="ห้องว่าง") {
                showAlert(false, "ไม่สามารถบันทึกบิลสำหรับห้องที่ไม่มีผู้เช่าได้!");
                return;
            }

            const month = document.getElementById("bill-month").value;
            const due_date = document.getElementById("pay-duedate").value;
            const elect_bill = document.getElementById("elect-bill").textContent;
            const water_bill = document.getElementById("water-bill").textContent;

            if (!month || !due_date || elect_bill === "-" || water_bill === "-" || new Date(due_date) < new Date()) {
                showAlert(false, "กรุณากรอกรอบบิลและวันครบกำหนดชำระให้ถูกต้อง!");
                return;
            }

            fetch("/lesser/save-bill", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(
                    {
                        user_id: "<%=room.user_id%>",
                        month: month,
                        due_date: due_date,
                        rent: "<%=room.rent%>",
                        elect_bill: elect_bill,
                        water_bill: water_bill
                    }
                )
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showAlert(data.success, "บันทึกบิลสำเร็จ!");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                } else {
                    showAlert(data.success, data.message);
                }
            })
            .catch(error => console.error("Error saving bill:", error));
        }

        function saveMeter() {
            const meterMonth = document.getElementById("meterMonth").value;
            const elect = document.getElementById("elect").value;
            const water = document.getElementById("water").value;

            if (meterMonth<="<%=room.meter_month%>") {
                showAlert(false, "กรุณากรอกรอบเดือนให้ถูกต้อง!");
                return;
            }
            if (document.getElementById("cal-elect-unit").textContent < 0 || document.getElementById("cal-water-unit").textContent < 0){
                showAlert(false, "กรุณากรอกเลขมิเตอร์ให้ถูกต้อง!");
                return;
            }

            fetch("/lesser/save-meter", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(
                    {
                        room_id: "<%=room.room_id%>",
                        meterMonth: meterMonth,
                        elect: elect,
                        water: water
                    }
                )
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showAlert(data.success, "บันทึกค่าน้ำ-ค่าไฟสำเร็จ!");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                } else {
                    showAlert(data.success, data.message);
                }
            })
            .catch(error => console.error("Error saving meter:", error));
        }


        function showMeterData(selectedMonth){
            fetch(`/lesser/get-meter?month=${selectedMonth}&room_id=<%=room.room_id%>`)
                .then(response => response.json())
                .then(data => {
                    if (data.length == 2 && data[0].meter_month == selectedMonth){
                        document.getElementById("none-we-alert").classList.add("d-none");
                        let electUnit = data[0].meter_elect-data[1].meter_elect;
                        let waterUnit = data[0].meter_water-data[1].meter_water;
                        let electBill = electUnit*"<%=room.elect_per_unit%>";
                        let waterBill = waterUnit*"<%=room.water_per_unit%>";
                        document.getElementById("elect-unit-bill").textContent = "ค่าไฟ ( "+ electUnit +" หน่วย)";
                        document.getElementById("elect-bill").textContent = electBill;
                        document.getElementById("water-unit-bill").textContent = "ค่าน้ำ ( "+ waterUnit +" หน่วย)";
                        document.getElementById("water-bill").textContent = waterBill;
                        document.getElementById("sum-bill").textContent = "รวม: "+(parseFloat("<%=room.rent%>")+waterBill+electBill);
                    }
                    else{
                        document.getElementById("none-we-alert").classList.remove("d-none");
                        document.getElementById("elect-unit-bill").textContent = "ค่าไฟ ( - หน่วย)";
                        document.getElementById("elect-bill").textContent = "-";
                        document.getElementById("water-unit-bill").textContent = "ค่าน้ำ ( - หน่วย)";
                        document.getElementById("water-bill").textContent = "-";
                        document.getElementById("sum-bill").textContent = "รวม: -";
                    }
                })
                .catch(error => {
                    console.error("Error fetching bill details:", error);
                });
        }

        function calUnit(val, id){
            switch(id){
                case "elect":
                    document.getElementById("cal-elect-unit").innerHTML = val-"<%=room.meter_elect%>";
                    break;
                case "water":
                    document.getElementById("cal-water-unit").innerHTML = val-"<%=room.meter_water%>";
                    break;
            }
        }


        function removeRenter() {
            fetch("/lesser/remove-renter", {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(
                    {
                        user_id: "<%=room.user_id%>",
                    }
                )
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    showAlert(data.success, "ลบผู้เช่าออกจากห้องนี้แล้ว!");
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                } else {
                    showAlert(data.success, data.message);
                }
            })
            .catch(error => console.error("Error saving meter:", error));
        }

        function showAlert(success, message) {
            document.getElementById("alert-header").classList.remove('bg-danger', 'bg-success');
            if(success){
                document.getElementById("alert-title").textContent = "สำเร็จ";
                document.getElementById("alert-icon").src = "/image/success-icon.png";
                document.getElementById("alert-header").classList.add('bg-success');
            }else{
                document.getElementById("alert-title").textContent = "ไม่สำเร็จ";
                document.getElementById("alert-icon").src = "/image/fail-icon.png";
                document.getElementById("alert-header").classList.add('bg-danger');
            }
            document.getElementById("alert-message").textContent = message;
            
            let alertModal = new bootstrap.Modal(document.getElementById('alert-modal'));
            alertModal.show();
        }
    </script>
</body>
</html>